window {
    margin: 0px;
    border: 2px solid #00bfff;
    background-color: rgba(10, 15, 20, 0.5);
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #a9dfff;
    background-color: rgba(16, 24, 32, 0.5);
}

#input:focus {
    border: 1px solid #00bfff;
}

#inner-box {
    margin: 5px;
    border: none;
    background: none;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: rgba(10, 15, 20, 0.5);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #a9dfff;
}

#entry:selected {
    border-radius: 5px;
    background-color: rgba(0, 224, 255, 0.5);
}
