window {
    margin: 0px;
    border: 1px solid #33ccff;
    background-color: rgba(25, 23, 36, 0.5);
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #ffffff;
    background-color: rgba(31, 29, 46, 0.5);
}

#input:focus {
    border: 1px solid #33ccff;
}

#inner-box {
    margin: 5px;
    border: none;
    background: none;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: rgba(14, 14, 14, 0.5);
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ffffff;
}

#entry:selected {
    background-color: rgba(31, 29, 46, 0.5);
}
