* {
    font-family: "MartianMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: none;
    color: #B3E5FC;
    font-family:
        SpaceMono Nerd Font,
        feather;
    transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(25, 23, 36, 0.2);
    margin: 5px 5px 0px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #00bfff;
}

.modules-left {
    padding: 0;
}

.modules-center {
    padding: 0 15px;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
    padding: 0 10px;
    border-radius: 10px;
}

#workspaces button {
    background: transparent;
    font-family:
        SpaceMono Nerd Font,
        feather;
    font-weight: 900;
    font-size: 13pt;
    color: #c0caf5;
    border: none;
    border-radius: 10px;
}

#workspaces button.active {
    background: rgba(12, 12, 12, 0.3);
}

#workspaces button:hover {
    background: rgba(12, 12, 12, 0.3);
    color: #cdd6f4;
    box-shadow: none;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    transition: color .5s;
}

#custom-arch:hover {
    color: #1793d1;
}
